*~
*.swp
.vcli
.vstore.json
.vnode.json
.vconfig.json
.vconsul.token
.vappcontext.json
.config
.config/*
*.swo
*.tmp
*.out
*.js
*.js.map
cogimports.*
node_modules
vbuilder/builder/node_modules
dist
dist/*
builds
build
build/debug
build/debug/*
deployment/dev/.instance
deployment/dev/.vagrant
deployment/dev/.vagrant/*
tmp
.tmp
.tmp/*
.idea
.idea/*
.vagrant
.vagrant/*
www
www/*
